section.address-section.container
  .address
    h3.address__title adresse
    address.address__value Emschestr. 42, 45525 Hattingen, Germany
    a.address__btn.btn.btn--secondary(href='') In Google Maps öffnen
