section.section.container
  .ceo
    figure.ceo__photo
      img.ceo__photo-src(src=require('@/images/ceo.jpg'), alt='')
      figcaption.ceo__name-wrapper
        span.ceo__name Sabri Arslan
        spa.ceo__position Inhaber von Las Olas
    .ceo__info
      .block-heading
        span.block-heading__text Leidenschaftlicher Gastronom
        h2.block-heading__title CEO of Las-Olas
        .block-heading__desc
          p Unser Catering-Angebot beginnt ab 12€ pro Person und ist individuell anpassbar. Ob Sie mit der Familie speisen wollen oder ein Meeting mit den Geschäftspartnern halten, bei uns finden Sie das richtige Angebot. Für genauere Informationen können Sie uns gerne jederzeit kontaktieren.
          p Unser Catering-Angebot beginnt ab 12€ pro Person und ist individuell anpassbar. Ob Sie mit der Familie speisen wollen oder ein Meeting mit den.
      .ceo__sign
        img(src=require('@/images/sign.svg'), alt='')
