section.section.container
  .cta-hire-wrapper(style=`background-image:url(${require('@/images/cta-hire.jpg')})`)
    .cta-hire
      h2.cta-hire__title We are hiring
      .cta-hire__info
        a.cta-hire__link(href='mailto:hr@las-olas.de') hr@las-olas.de
        a.cta-hire__link(href='tel:+49 (0) 2324 686 66 70') +49023246866670
