section.section.container
  .cta-wrapper.gradient-border
    .cta
      .cta__info
        span.cta__text Tätigen Sie Ihre
        h3.cta__title Reservierung Now
        p.cta__desc Wir haben zu gewohnten Zeiten geöffnet - Terrasse und Innenbereich.
        button.cta__btn.btn.btn--primary(data-modal='main-modal') Reservierung
      .cta__image-wrapper
        picture.cta__image
          img(src=require('@/images/cta.png'), alt='')
