section.section.container
  .features-wrapper
    .block-heading
      span.block-heading__text Buon Appetito
      h2.block-heading__title Wichtigste Fakten
    .features
      .features__item
        span.features__index 01
        h3.features__title Pizzasteinofen
        p.features__desc Buon sito, molti prodotti difficili da trovare online per pasticceria e gelateria.
      .features__item
        span.features__index 02
        h3.features__title Pizzasteinofen
        p.features__desc Buon sito, molti prodotti difficili da trovare online per pasticceria e gelateria.
      .features__item
        span.features__index 03
        h3.features__title Übernahm 2019 das Restaurant
        p.features__desc Buon sito, molti prodotti difficili da trovare online per pasticceria e gelateria.
      .features__item
        span.features__index 04
        h3.features__title Pizzasteinofen
        p.features__desc Buon sito, molti prodotti difficili da trovare online per pasticceria e gelateria.
