section.hero-section
  .hero(style=`background-image:url(${require('@/images/hero-home.png')})`)
    h1.hero__title Las Olas Hattingen
    p.hero__desc Wir haben zu gewohnten Zeiten geöffnet - Terrasse und Innenbereich.
    button.btn.btn--primary.hero__btn Tisch reservieren
