section.hero-section(class=heroSmall ? 'hero-section--small' : null)
  .hero(style=`background-image:url(${heroImage})`)
    if heroTitle
      h1.hero__title= heroTitle
    if heroDesc
      p.hero__desc= heroDesc
    if heroBtn
      button.btn.btn--primary.hero__btn Tisch reservieren
