section.section.container
  .hero-text
    h1.hero-text__title Kontakt
    p.hero-text__desc Wir freuen uns, Euch bei Las Olas begrüßen zu dürfen. Wenn Ihr in der Zwischenzeit Fragen haben, wendet Euch bitte an die unten stehenden Kontaktdaten.
