section.section.container.container--right
  .menu-wrapper
    .menu-wrapper__menu.menu
      .block-heading
        span.block-heading__text Buon Appetito
        h2.block-heading__title Unsere beliebten Gerichte
      ul.menu-list
        li.menu-list__item Pizza mit Vitello Tonnato
          span.menu-list__price 19,90 €
        li.menu-list__item Gnocchi Tartufata
          span.menu-list__price 19,90 €
        li.menu-list__item Kalbsleber Butter und Salbei
          span.menu-list__price 19,90 €
        li.menu-list__item Rinderfilet mit frischem Trüffe
          span.menu-list__price 19,90 €
        li.menu-list__item Rinderfilet mit schwarzem Pfeffersauce
          span.menu-list__price 19,90 €
        li.menu-list__item Rinderfilet mit schwarzem Pfeffersauce
          span.menu-list__price 19,90 €
      a.menu__btn.btn.btn--secondary(href='') Alle Menüs anzeigen
    picture.menu-wrapper__image
      img(src=require('@/images/menu.jpg'), alt='')
