section.section.container.container--right
  .scroller
    .scroller__item
      span.scroller__text Spanish Restaurant
      svg.scroller__icon(width='60', height='60')
        use(xlink:href='sprite.svg#next-arrow_sprite') 
    .scroller__item
      span.scroller__text Las Olas
      svg.scroller__icon(width='60', height='60')
        use(xlink:href='sprite.svg#next-arrow_sprite') 
    .scroller__item
      span.scroller__text Hattingen
