include ../modules/vars

header.header
  .header-inner.container
    .header__logo.logo
      a.logo__link(href='')
        img.logo__src(src=require('@/images/Logo.svg'), alt='')
    nav.header__nav.nav
      ul.nav-list
        each val in menu
          li.nav__item
            a.nav__link(href=val.link)= val.name
    .header__info
      a.header__phone(href='tel:9999') +49 (0) 2324 686 66 70
      .header__working-time.working-time
        span.working-time__text 17:00 – 22:30 Uhr
        .working-time__toolbox
          svg.working-time__icon(width='14', height='14')
            use(xlink:href='sprite.svg#info_sprite')
          aside.toolbox-content
            h3.toolbox-content__title Öffnungszeiten
            .toolbox-content__list
              .toolbox-content__item
                .toolbox-content__days Montag – Donnerstag:
                .toolbox-content__hours 17:00 - 22:30 Uhr
              .toolbox-content__item
                .toolbox-content__days Freitag, Samstag:
                .toolbox-content__hours 17:00 - 23:00 Uhr
              .toolbox-content__item
                .toolbox-content__days Sonntag:
                .toolbox-content__hours 12:00 - 22:00 Uhr
    button.header__btn.btn.btn--secondary(data-modal='main-modal') Tisch reservieren
