@use '../utils/mixins' as *;

.features {
  @include media(md) {
    overflow: auto;
    display: flex;
  }

  margin-top: 72px;

  &__index {
    margin-right: 124px;
    font-size: 24px;
    color: var(--gold-color);
  }

  &__item {
    @include media(md) {
      flex: 0 0 auto;
      flex-direction: column;
    }

    display: flex;
    justify-content: space-between;
    padding: 60px 10px;
    border-bottom: 1px solid var(--divider-color);

    &:first-child {
      border-top: 1px solid var(--divider-color);
    }
  }

  &__title {
    @include media(md) {
      font-size: 24px;
    }

    max-width: 300px;
    margin-right: auto;

    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }

  &__desc {
    @include media(md) {
      max-width: 280px;
    }

    max-width: 370px;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.9;
  }
}
