@use '../utils/mixins' as *;

.gallery-slider {
  @include media(lg) {
    overflow: visible;
  }
}

.gallery-grid {
  @include media(lg, min-width) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
  }

  &__item {
    position: relative;

    overflow: hidden;
    grid-column: auto;
    grid-row: auto;

    border-radius: 16px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      opacity: 0;
      background: #000;

      transition: 0.5s;
    }

    &:nth-child(3) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(4) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:hover {
      // stylelint-disable
      .gallery-grid__icon {
        opacity: 1;
      }
      &:before {
        opacity: 0.4;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    opacity: 0;
    background: var(--white-color);
    border-radius: 50%;

    transition: opacity 0.5s;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

.gallery-more-link-wrapper {
  text-align: center;
}

.gallery-more-link {
  display: inline-block;
  margin: 60px auto 0;
  padding: 19px 32px;
}
