@use '../utils/mixins' as *;

.info-block {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  align-items: center;

  &__image {
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: calc(500px / 600px * 100%);

    border-radius: 24px;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &--reversed &__image-wrapper {
    @include media(md) {
      order: initial;
    }

    order: -1;
  }
}
