// stylelint-disable

.mobile-menu-wrapper {
  position: fixed;
  z-index: 1090;
  top: 0;
  right: 0;
  transform: translateY(-100%);

  width: 100%;
  height: 100%;
  padding: var(--gap);

  opacity: 0;
  background: var(--lt-black-color);

  transition: 0.5s;

  &.opened {
    transform: translateY(0%);
    opacity: 1;
  }
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;

  .nav__item {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.mobile-menu {
  position: relative;

  overflow: auto;
  display: flex;
  flex-direction: column;

  height: 100%;

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 12px;

    background: var(--black-color);
    border-radius: 12px;
  }

  &__nav {
    margin-top: 50px;
  }

  &__info {
    margin-top: auto;
  }

  &__link {
    display: block;
    font-size: 24px;
    font-weight: 600;
  }

  &__address {
    margin-top: 8px;
    color: #e4e4e4;
  }

  &__btn {
    margin-top: 20px;
    text-align: center;
  }
}
