// stylelint-disable

.page-form {
  &__title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
  }
}

.main-form {
  --gap: 30px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);

    &--modal {
      grid-template-columns: repeat(2, 1fr);

      .main-form__item:last-child {
        grid-column: span 2;
      }
    }
    &--catering {
      .main-form__item:last-child {
        grid-column: auto;
      }
    }
  }

  &__item {
    position: relative;
    width: 100%;

    &:last-child {
      grid-column: span 3;
    }
  }

  &__label {
    position: absolute;
    top: var(--gap);
    left: 0;

    font-size: 20px;

    opacity: 0.5;

    transition: 0.5s;
  }

  &__input {
    width: 100%;
    padding-top: calc(var(--gap));
    padding-bottom: var(--gap);

    font-size: 20px;
    color: var(--white-color);

    border-bottom: 1px solid var(--divider-color);

    &:not(:placeholder-shown) {
      ~ .main-form__label {
        transform: translateY(-100%);
        font-size: 12px;
      }
    }
    &:focus {
      border-color: var(--white-color);

      ~ .main-form__label {
        transform: translateY(-100%);
        font-size: 12px;
      }
    }
  }
  &__submit {
    margin-top: 60px;
    padding: 19px 48px;
    font-size: 16px;
    font-weight: 600;
  }
}

.form-checkbox {
  cursor: pointer;
  display: flex;
  margin-top: 50px;

  &__fake-checkbox {
    position: relative;

    display: block;

    width: 24px;
    height: 24px;
    margin-right: 12px;

    border: 1px solid var(--divider-color);
    border-radius: 50%;
  }

  &__checkbox:focus ~ &__fake-checkbox {
    border-color: var(--white-color);
  }

  &__checkbox:checked ~ &__fake-checkbox {
    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;

      width: 70%;
      height: 70%;
      padding: 5px;

      background: var(--accent-color);
      border-radius: 50%;
    }
  }

  &__desc {
    max-width: 555px;
    line-height: 150%;
    color: #ababab;

    a {
      color: var(--white-color);
    }
  }
}
