@use '../utils/mixins' as *;

.policy-heading-section {
  @include media(md) {
    padding: var(--gap-y) 0;
  }

  padding: 100px 0;
  border-bottom: 1px solid var(--divider-color);
}

.policy-heading {
  &__back {
    @include media(md) {
      margin-bottom: 32px;
    }

    display: flex;
    align-items: center;
    margin-bottom: 46px;
    opacity: 0.8;

    svg {
      margin-right: 10px;
    }
  }

  &__title {
    @include media(md) {
      font-size: 48px;
      word-break: break-all;
    }

    font-size: 64px;
  }
}

.policy-content-wrapper {
  @include media(md) {
    flex-direction: column;
    padding-top: var(--gap-y);
  }

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
}

.policy-content {
  @include media(md) {
    margin: 0;
  }

  flex: 1;
  margin-right: 58px;
}

.policy-sidebar-wrapper {
  @include media(md) {
    position: static;
  }

  position: sticky;
  top: 1rem;

  overflow: hidden;

  width: 100%;
  max-width: 390px;
  padding: 1px;

  border-radius: 24px;
}

.policy-sidebar {
  padding: 32px 32px 40px;
  background: var(--background-color);

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__desc {
    font-size: 16px;
  }

  &__contacts {
    margin-top: 18px;
  }

  &__btn {
    margin-top: 32px;
  }
}
