.working-time {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 6px;
    font-size: 14px;
    color: var(--primary-text);
    opacity: 0.6;
  }

  &__toolbox {
    display: flex;
    align-items: center;
  }
}
