-
  locals.menu = [
    {
      name:'Home', 
      link: '/', 
    },
    {
      name:'Location', 
      link: `${htmlWebpackPlugin.options.path}/location.html`, 
    },
    {
      name:'Speisekarte', 
      link: `${htmlWebpackPlugin.options.path}/menu.html`, 
    },
    {
      name:'Catering', 
      link: `${htmlWebpackPlugin.options.path}/catering.html`, 
    },
    {
      name:'Kontakt', 
      link: '/', 
    },
  ]
