-
  locals.menu = [
    {
      name:'Home', 
      link: '/', 
    },
    {
      name:'Location', 
      link: '/', 
    },
    {
      name:'Speisekarte', 
      link: '/', 
    },
    {
      name:'Catering', 
      link: '/', 
    },
    {
      name:'Kontakt', 
      link: '/', 
    },
  ]
