extends ../layouts/main
block vars
  - var headerOffset = true;
  - var footerMargin = true;
block content
  section
    .feedback-page
      .feedback-page__info
        h3.feedback-page__heading 404 error
        h1.feedback-page__title Ups... Sie sind auf der falschen Seite gelandet
        a.feedback-page__btn.btn.btn--secondary(href='/') Back to Startseite
      picture.feedback-page__image
        img(src=require('@/images/404.jpg'), alt='')
