extends ../layouts/main

block content
  - locals.heroImage = require('@/images/hero-home.png');
  - locals.heroTitle = 'Las Olas Hattingen';
  - locals.heroDesc = 'Wir haben zu gewohnten Zeiten geöffnet - Terrasse und Innenbereich.';
  - locals.heroBtn = true;
  include ../blocks/hero
  include ../blocks/video-section
  - locals.infoText = 'LOCATION';
  - locals.infoTitle = 'Spanish Restaurant im Hattingen';
  - locals.reversed = true;
  - locals.infoDesc = ['Mit der Anmeldung zum Newsletter erkläre ich mich mit der Verarbeitung meiner personenbezogenen Daten entsprechend der Datenschutzerklärung. Mit der Anmeldung zum Newsletter erkläre ich mich mit der Verarbeitung meiner personenbezogenen Daten entsprechend der Datenschutzerklärung'];
  - locals.infoBtn = true;
  - locals.infoImage = require('@/images/info-block-1.jpg');
  include ../blocks/info-block
  include ../blocks/menu
  include ../blocks/details-nav
  - locals.sectionTitle = 'Masonry Gallery';
  - locals.sectionDesc = null;
  include ../blocks/gallery
  include ../blocks/cta
