extends ../layouts/main

block content
  include ../blocks/hero
  include ../blocks/video-section
  include ../blocks/menu
  include ../blocks/details-nav
  include ../blocks/gallery
  include ../blocks/cta
