@use './mixins' as *;

:root {
  --container: 1290px;
  --gap: 30px;
  --gap-y: 80px;
  @each $breakpoint, $val in $breakpoints {
    @include media($breakpoint) {
      @if $val == 1440px {
        $val: 1290px;
      }

      --container: #{$val};
    }
  }
  @include media(lg) {
    --gap: 16px;
    --gap-y: 40px;
  }
}

:root {
  --gold-color: #c29442;
  --platinum-color: #e4e4e4;
  --black-color: #141414;
  --lt-black-color: #262626;
  --white-color: #fff;
  --silver-color: #d0d0d0;
  --divider-color: rgb(255 255 255 / 12%);
}

:root {
  --main-gradient: linear-gradient(87.17deg, #d4ad5d 0%, #9d7637 100%);
  --primary-text: var(--white-color);
  --secondary-text: var(--silver-color);
  --accent-color: var(--gold-color);
  --secondary-color: var(--lt-black-color);
  --background-color: var(--black-color);
}
