include ../modules/vars
include ../modules/mixins
block vars
doctype html
html(lang='de')
  head
    meta(charset='utf-8')
    title !{ title }
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
  body(class=page ? 'home' : '')
    include ../partials/header
    main.main(class=headerOffset ? 'main--offset-top' : '')
      block content
    block footer
      - locals.footerMargin = false;
      include ../partials/footer
